<nav>
  <p>Navbar</p>
  <div>
    <a href="/" onclick="route()">Link1</a
    ><a href="/second" onclick="route()">Link2</a
    ><a href="/thirth" onclick="route()">Link3</a>
  </div>
</nav>
<style>
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #750791;
    padding: 15px 0;
  }
  nav p {
    color: #ffffff;
    font-weight: 600;
    padding-left: 15px;
  }

  nav div {
    padding-right: 15px;
  }

  nav div a {
    margin-left: 30px;
    text-decoration: none;
    color: #ffffff;
  }
</style>
<script src="./script.js"></script>
