* {
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background: #750791;
  padding: 15px 0;
  p {
    color: #ffffff;
    font-weight: 600;
    padding-left: 15px;
  }
  div {
    padding-right: 15px;
    a {
      margin-left: 30px;
      text-decoration: none;
      color: #ffffff;
    }
  }
}

.count {
  display: flex;
}
