* {
  padding: 0;
  margin: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #750791;
  padding: 15px 0;
}

nav p {
  color: #ffffff;
  font-weight: 600;
  padding-left: 15px;
}

nav div {
  padding-right: 15px;
}

nav div a {
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
}

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}
/*# sourceMappingURL=style.css.map */